@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit');
@import url('https://fonts.googleapis.com/css2?family=Inter');


@media (max-width: 850px) {
    .menu-icon:hover {
        background-color: #fdfdfd !important;
    }
    .menu-icon:hover::after {
        background-color: #fdfdfd !important;
    }
    .menu-icon:hover::before {
        background-color: #fdfdfd !important;
    }
    .menu-icon.active::after {
        transform: rotate(90deg) translateY(0vh) translateX(-1.2vh) !important;
    }
    #ad{
        top: 120px !important;
    }
    #ad img{
       width: 350px !important; 
    }
    #selectionGrid{
        top: 80% !important;
        left: 50% !important;
        transform: translate(-50%, -80%) !important;
        width: 40vh !important;
        height: 55vh !important;
    }
    #nav.open {
        width: 50% !important;
    }
    .menu-icon.active {
        transform: rotate(45deg) translateX(8.5vh) translateY(-8.5vh) !important;
    }
    #nav{
        z-index: 9999 !important;
    }
    #header{
        z-index: -9999 !important;
    }
}
::-webkit-scrollbar{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-image: url("https://i.imgur.com/rkuLygK.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Kanit";
    background-color: #120F16;
}

#particles-js {
    position: absolute;
    height: 99vh;
}
footer{
    bottom: 0;
    width: 100%;
    position: absolute;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: .3s ease-in-out all;
}

.footer p {
    color: white;
}

.footer a:hover {
    color: #3a3939;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 7.5vh;
    z-index: 999;
}

#navbar a{
    color: white;
    text-decoration: none;
}

#navbar-title,
#navbar-docs,
#navbar-button {
    transition: .3s ease-in-out all;
}
#navbar-title:hover,
#navbar-docs:hover,
#navbar-button:hover {
    color: rgb(88, 88, 88);
}

#nav a{
    transition: .3s ease-in-out all;
}
#nav a:hover{
    cursor: pointer;
    color: rgb(88, 88, 88);
}

#navbar-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2vh;
    text-align: center;
}

#navbar-button {
    position: fixed;
    top: 20px;
    left: 20px;
}

#navbar-docs {
    position: fixed;
    top: 20px;
    right: 20px;
    transition: 0.2s ease all;
}

#header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
    text-align: center;
}
#header-title {
    font-size: 4vh;
    color: white;
}

#sub-navbar-title {
    position: absolute;
    top: 100%; /* Position it just below the navbar */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Align it properly with the center */
    width: 100%; /* Set the width you prefer */
    text-align: center; /* Center the text inside the element */
    color: white; /* Set the text color */
    font-family: 'Kanit', sans-serif; /* Set the font family */
    margin-top: 1vh; /* Adjust the space between the navbar title and this text */
}

#ad {
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

#ad img {
    border-radius: 15px;
    display: block;
    width: 500px;
    height: 70px;
}

.main-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#selectionGrid{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    height: 50vh;
    width: 70vh;
    background-color: rgba(14, 13, 13, 0.6);
    border-radius: 15px;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
    height: 100%;
    width: 0;
    opacity: 0;
    overflow-x: hidden;
    transition: width 0.5s ease, opacity 0.5s ease; 
}

#nav.open {
    opacity: 1 !important;
    width: 25%;
    border-radius: 15px 0 0 15px;
}


#nav a{
    color: white;
    margin-top: 15px;
    text-align: center;
}

  
.fade {
animation: fade-in 1s;
}

@keyframes fade-in {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}


.menu-icon {
    top: 4vh;
    left: 5%;
    transform: translateX(-5%);
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}

.menu-icon::before,
.menu-icon::after {
    content: "W|W|W";
    color: transparent;
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    transition: 0.3s ease-in-out all;
}

.menu-icon::before {
    top: -10px;
}

.menu-icon::after {
    top: 10px;
}

.menu-icon:hover,
.menu-icon:hover::before,
.menu-icon:hover::after {
    background-color: #3a3939;
}

.menu-icon.active:hover,
.menu-icon.active:hover::before,
.menu-icon.active:hover::after {
    background-color: #3a3939;
}

.menu-icon.active {
    transform: rotate(45deg) translateX(6.5vh) translateY(-6.5vh);
    width: 32px;
}

.menu-icon.active::before {
    transform: rotate(-90deg) translateY(8px);
    width: 0px;
}

.menu-icon.active::after {
    transform: rotate(90deg) translateY(0vh) translateX(-1vh);
    width: 32px;
}


#close{
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 22%;
    transform: translate(-22%, -0%);
}

#sButton{
    font-family: "Kanit";
    border: none;
    padding: .5em;
    border-radius: 0.5em;
    background: none;
    color: white;
    border: 0.2vh solid white;
    transition: .2s ease-in-out all;
    font-size: 1.5vh;
}

#sButton:hover{
    padding: .5em;
    border-radius: .5em;
    background: white;
    color: black;
    cursor: pointer;
    transform: translateY(-5px);
}


#tiktokInput,#instagramInput,#youtubeInput{
    color: white;
    background-color: #131212;
    border: none;
    padding: 10px;
    outline: none;
    width: 25vh;
}

select{
    color: white;
    background-color: #131212;
    border: none;
    padding: 10px;
    outline: none;
    width: 28vh;   
}

#timer{
    color: rgb(199, 60, 60);
    font-family: "Kanit";
    position: absolute;
    top: 1%;
    left: 96%;
    transform: translate(-96%,-1%);
}

#version{
    cursor: pointer;
    position:absolute;
    bottom:0;
    left:0;
    padding: 10px;
    color: #5a5a5a;
    transition: .2s ease-in all;
    font-family: "Kanit";
    font-weight: 900;
}

#version:hover{
color: #fff;
background-color: #1212128f;
border-radius: 15px;
margin: 5px;
font-size: 1.2vh;
}