
<section id="displaySection">
    
    <div id="header">
        <h1 id="header-title">Free Youtube Likes</h1>
    </div>

    <div id="inputField">
        <form action="/youtube/likesapi" method="post" id="followers-form">
            <div class="input-group">
                <input id="input-bar" type="text" name="link" placeholder="Enter Video Link...">
                <input id="submit-button" type="submit" value="Submit">
            </div>
            <div id="timer" style="display: none;">Checking timer...</div>
        </form>
    </div>

    <div class="buttonSection">
        <a href="/youtube">
            <button class="back-button">Back</button>
        </a>
    </div>

</section>

<footer class="footer">
  <p>Powered by <a href="https://darksidepanel.com">DarkSide Panel</a></p>
</footer>
