
<section id="displaySection">
    
    <div id="header">
        <h1 id="header-title">Coming Soon</h1>
    </div>

    <div id="inputField">
        <form id="followers-form">
            <div class="input-group">
                    <div class="buttonSection">
                      <a href="/youtube">
                        <button class="back-button">Back</button>
                      </a>
                    </div>
            </div>
    </div>

</section>

<footer class="footer">
  <p>Powered by <a href="https://darksidepanel.com">DarkSide Panel</a></p>
</footer>