
<section id="displaySection">

    <div id="ad">
        <img src="https://cdn.discordapp.com/attachments/1012809224675401849/1185721207673327657/standard.gif?ex=6590a3ed&is=657e2eed&hm=27d41aae900a9d5354c8786c6eae0a2be07f12fae36f8cfaf51848a3bcd70d29&" alt="Animated Ad">
    </div>
    
    <div id="header">
        <h1 id="header-title">Choose A Platform</h1>
    </div>

    <div id="boxes">
    <a href="/tiktok" style="text-decoration: none;"><div class="box">
        <h1 class="box-title">TikTok</h1>
    </div></a>
    <a href="/instagram" style="text-decoration: none;"><div class="box">
        <h1 class="box-title">Instagram</h1>
    </div></a>
    <a href="/youtube" style="text-decoration: none;"><div class="box">
        <h1 class="box-title">YouTube</h1>
    </div></a>
    </div>

</section>

<footer class="footer">
  <p>Powered by <a href="https://darksidepanel.com">DarkSide Panel</a> | V0.2 (dev)</p>
</footer>
