
<section id="displaySection">
    
    <div id="header">
        <h1 id="header-title">TikTok Services</h1>
    </div>

    <div id="boxes">
    <a href="/tiktok/followers" style="text-decoration: none;"><div class="box">
        <h1 class="box-title">Followers</h1>
    </div></a>
    <a href="/tiktok/views" style="text-decoration: none;"><div class="box">
        <h1 class="box-title">Views</h1>
    </div></a>
    <a href="/tiktok/likes" style="text-decoration: none;"><div class="box">
        <h1 class="box-title">Likes</h1>
    </div></a>
    </div>
    
    <div class="buttonSection">
        <a href="/">
            <button class="back-button">Back</button>
        </a>
    </div>

</section>

<footer class="footer">
  <p>Powered by <a href="https://darksidepanel.com">DarkSide Panel</a></p>
</footer>
