@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit');
@import url('https://fonts.googleapis.com/css2?family=Inter');

::-webkit-scrollbar{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-image: url("https://i.imgur.com/rkuLygK.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Kanit";
}

#particles-js {
    position: absolute;
    height: 90vh;
}
footer{
    bottom: 0;
    width: 100%;
    position: absolute;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: .3s ease-in-out all;
}

.footer p {
    color: white;
}

.footer a:hover {
    color: #3a3939;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 7.5vh;
    z-index: 999;
}

#navbar a{
    color: white;
    text-decoration: none;
    transition: .3s ease-in-out all;
}
#navbar a:hover{
    color: rgb(88, 88, 88);
}

#navbar-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2vh;
    text-align: center;
}


#navbar-button {
    position: fixed;
    top: 20px;
    left: 20px;
}

#navbar-docs {
    position: fixed;
    top: 20px;
    right: 20px;
    transition: 0.2s ease all;
}

#header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
    text-align: center;
}
#header-title {
    overflow: hidden;
    font-size: 3vh;
    white-space: nowrap;
}

#ad {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

#ad img {
    border-radius: 15px;
    display: block;
    width: 35vh !important; 
    height: 6vh !important;
}

.main-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#selectionGrid{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
}

#selectionGrid a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vh;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-top: 15px;
    border-radius: 15px;
    transition: .5s ease all;
}

#tiktok {
    background-color: black;
    color: white;
    text-shadow: 1px 1px turquoise, -1px -1px red;
}

#tiktok:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: 1px 1px turquoise, -1px -1px red;
}


#youtube {
    background-color: rgb(219, 38, 38);
}

#youtube:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(219, 38, 38);
}

#instagram {
    background: linear-gradient(to right, #405DE6, #5851DB, #833AB4, #C13584, #E1306C);
    color: #FFFFFF;
}

#instagram:hover {
    background: rgb(255, 255, 255);
    color: #405DE6;
}

#f1,#f2,#f3{
    background-color: #131212;
}

.fade {
animation: fade-in 1s;
}

@keyframes fade-in {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

#headerIcon, #serviceHeader{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px turquoise, -1px -1px red;
}

#selectionGrid {
    color: white;
}

#selectionGrid h1{
    font-size: 5vh;
}

#selectionGrid p{
    font-size: 2vh;
    font-family: "Inter";
}
#selectionGrid input{
    color: white;
    background-color: #131212;
    border: none;
    padding: 10px;
    outline: none;
    width: 25vh;
}

#sButton{
    font-family: "Kanit";
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    background: none;
    color: white;
    border: 0.2vh solid white;
    transition: .2s ease-in-out all;
    font-size: 1.5vh;
}

#sButton:hover{
    padding: 1em;
    border-radius: .5em;
    background: white;
    color: black;
    cursor: pointer;
    transform: translateY(-5px);
}

#back{
    font-size: 3vh;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-150%);
}

#timer{
    font-size: 3vh;
    color: rgb(199, 60, 60);
    font-family: "Kanit";
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-75%);
}