@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit');

::-webkit-scrollbar{
    display: none;
}
@media (max-width: 768px) {
    #ad img {
        width: 35vh !important; 
        height: auto !important;
    }

    #navbar-title{
        font-size: 2vh !important;
    }

    .box {
        width: 25vh !important;
        height: 15vh !important;
    }

    #boxes {
        top: 85% !important;
        transform: translateY(-85%) !important;
    }

    #header {
        top: 30% !important;
        transform: translate(-50%, -30%) !important;
    }
    #header-title {
        font-size: 3vh !important;
        margin-top: 80px !important;
        overflow: hidden;
        white-space: nowrap;
    }

    #selectionGrid a {
        width: 20vh !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-image: url("https://i.imgur.com/rkuLygK.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Kanit";
}

#particles-js {
    position: absolute;
    height: 99vh;
}
footer{
    bottom: 0;
    width: 100%;
    position: absolute;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: .3s ease-in-out all;
}

.footer p {
    color: white;
}

.footer a:hover {
    color: #3a3939;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 7.5vh;
    z-index: 999;
}

#navbar a{
    color: white;
    text-decoration: none;
    transition: .3s ease-in-out all;
}
#navbar a:hover{
    color: rgb(88, 88, 88);
}

#navbar-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2vh;
    text-align: center;
}


#navbar-button {
    position: fixed;
    top: 20px;
    left: 20px;
}

#navbar-docs {
    position: fixed;
    top: 20px;
    right: 20px;
    transition: 0.2s ease all;
}

#header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
    text-align: center;
}
#header-title {
    font-size: 3vh;
}
#ad {
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

#ad img {
    border-radius: 15px;
    display: block;
    width: 500px;
    height: 70px;
}

.main-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#selectionGrid{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
}

#selectionGrid a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vh;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-top: 15px;
    border-radius: 15px;
    transition: .5s ease all;
}

#tiktok {
    width: 20vh;
    background-color: black;
    color: white;
    text-shadow: 1px 1px turquoise, -1px -1px red;
}

#tiktok:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: 1px 1px turquoise, -1px -1px red;
}


#youtube {
    background-color: rgb(219, 38, 38);
}

#youtube:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(219, 38, 38);
}

#instagram {
    background: linear-gradient(to right, #405DE6, #5851DB, #833AB4, #C13584, #E1306C);
    color: #FFFFFF;
}

#instagram:hover {
    background: rgb(255, 255, 255);
    color: #405DE6;
}

#f1,#f2,#f3{
    border: solid 1px white;
}

  
.fade {
animation: fade-in 1s;
}

@keyframes fade-in {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

#headerIcon, #serviceHeader{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px turquoise, -1px -1px red;
}